.background-image {
    background: linear-gradient( rgba(61, 61, 61, 0.7), rgba(58, 58, 58, 0.7) ), url('/assests/STES.png');
    background-size: cover;
    width: 100%;
    height: 70%;
}

/* .glasseffect {
    background: rgba(255, 255, 255, 0.051);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 40%;
    width: 90%;
    margin: auto;
} */

.width {
    margin-left: auto;
}

.padding-top{
    margin-top: 80px;
}

.fit {
    width: 100%;
}

.container-fluid {
    width: 100%;
}

.card {
    width: 17.5%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 7px 7px 5px 0px rgba(206, 196, 196, 0.75);
}

.card img {
    width: 100%;
    height: 100%;
}

.stes_image {
   padding: 8px;
   height: 70vh;
}

.about {
    display: flex;
}

.about content {
    width: 40%;
}

.content p {
    max-width: 80%;
    text-align: justify;
}

.about-heading {
    margin-bottom: 30px;
    font-weight: 600;
}

.about-text {
    font-size: 17px;
}

.tracks {
    width: 100%;
}

.track-section {
    width: 24%;
    height: 300px;
}

.track-section img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(238, 233, 233, 0.75);
}

.track-section p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.dates-rules {
    width: 100%;
}

.dates {
    width: 45%;
}

.dates p {
    text-align: justify;
    margin-right: 30px;
    font-size: 18px;
}

.rules {
    width: 45%;
}

.rules p {
    text-align: justify;
    font-size: 18px;
}


.setmargin {
    width: 400px;
    height: 100px;
    font-size: 2rem;
    margin-bottom: 15px;
}

.align-left {
    margin-left: 20rem;
}

.underline {
   background-color: black;
   width: 400px;
   height: 0.8px;
   margin: auto;
}

.textcolor {
    color: white;
    font-size: 2.2rem;
    margin-left: 30px;
}

.textcolor1 {
    color: rgb(181, 181, 181);
    font-size: 13px;
}

.hotizontalLine {
    border-left: 10px solid white;
}

.contactUs {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

i {
    color: rgb(181, 181, 181);
    margin-top: 30px;
    font-size: 50px;
    margin-left: 50px;
}

.marginBottom {
    margin-left: 10px;
    margin-top: 20px;
}

.marginTop {
    margin-top: 50px;
}

.card-1 {
    width: 38rem; 
    height: 27rem;
}

@media only screen and (max-width: 700px) {
    .card {
        width: 18%;
        height: 80px;
        border-radius: 8px;
        box-shadow: 7px 7px 5px 0px rgba(206, 196, 196, 0.75);
    }

    .stes_image {
        padding: 8px;
        height: 45vh;
     }

     .display-6, .display-4 {
         font-size: 2rem;
         margin-bottom: 10px;

     }
     .about {
         display: inline-block;
     }

     .about-text {
        word-wrap: break-word;
     }


     .image-1 {
         height: 50%;
         width: 70%;
     }

     .tracks {
         display: inline-block;
     }

     .track-section {
        width: 100%;
        height: 300px;
    }

    .track-section img {
        width: 100%;
        height: 250px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 0px rgba(238, 233, 233, 0.75);
    }

    .track-section p {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }

    .setmargin {
        margin-top: 20px;
        margin-left: 60px;
    }

    .card-1 {
        width: 33rem; 
        height: 27rem;
        margin-top: 30px;
    }

    .text-shrink {
        font-size: 10px;
    }

    .textcolor{
        font-size: 25px;
    }

  
    .marginBottom {
        margin-left: 25px;
        margin-top: 10px;
    }

    .padding-top{
        margin-top: 80px;
    }

  


}